/target/
/tiles-api/target/
/tiles-core/target/
/tiles-template/target/
/tiles-servlet/target/
/tiles-jsp/target/
/tiles-freemarker/target/
/tiles-velocity/target/
/tiles-el/target/
/tiles-ognl/target/
/tiles-mvel/target/
/tiles-compat/target/
/tiles-extras/target/
/tiles-test-pom/tiles-test-db/target/
/tiles-test-pom/tiles-test-alt/target/
/tiles-test-pom/target/
/tiles-test-pom/tiles-test-common/target/
/tiles-test-pom/tiles-test/target/
/assembly/target/
*~
*.bak
*.swp
*.log
.DS_Store
pom.xml.versionsBackup
