## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.

## Display all queued Struts errors
#macro (errorMarkup)
    #if ($errors.exist() )
        <ul>
        #foreach ($e in $errors.all )
            $e
        #end
        </ul>
    #end
#end

## Display all queued Struts errors for a particular property
#macro (errorMarkupForProperty $property)
    #if ($errors.exist($property) )
        <ul>
        #foreach ($er in $errors.get($property))
            $er
        #end
        </ul>
    #end
#end

## Display all queued Struts errors
#macro (messageMarkup)
    #if ($messages.exist() )
        <ul>
        #foreach ($m in $messages.all )
            $m
        #end
        </ul>
    #end
#end

## Display all queued Struts action messages for a particular property
#macro (messageMarkupForProperty $property)
    #if ($messages.exist($property) )
        <ul>
        #foreach ($m in $messages.get($property))
            $m
        #end
        </ul>
    #end
#end
