/* CSS  */

/* base element inheritance formatting */
body      { margin-left: 0px; margin-right: 0px; 
            margin-top: 0px; margin-bottom: 0px;
            font-family: arial, geneva, helvetica, "sans serif"; }
a         { font-weight: bold; }   /* all links are bold */
a:link    { color: #3300cc }       /* unvisited link */
a:visited { color: #330099 }       /* visited links  */
a:active  { color: #000033 }       /* active links   */
a:hover   { color: #000033 }       /* MSIE rollover links   */
table     { margin-left: 0px; margin-right: 0px; 
            margin-top: 0px; margin-bottom: 0px; }
td        { font-family: arial, geneva, helvetica, "sans serif"; }
th        { font-family: arial, geneva, helvetica, "sans serif"; 
            font-weight: bold; }

/* begin defined classes */

/* headline classes */
.headline { font-family: verdana, arial, geneva, "sans serif"; 
            font-size: 110%; color: #000000; 
            vertical-align: middle; text-align: left; }

/* on-screen hint class */
.hint     { font-size: x-small; 
            color: #000000; background: #ffffff; }
.hintvbm     { font-size: x-small; }

/* Message classes */
.note     { font-size: smaller; font-weight: bold; 
            color: #000000; background: #ffffff; 
            vertical-align: middle; text-align: left; 
            padding: 2px; }
.noteimg  { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffcc; 
            vertical-align: top; text-align: center; }
.success  { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffff; 
            vertical-align: middle; text-align: left; 
            padding: 2px; }
.successimg  { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffcc; 
            vertical-align: top; text-align: center; }
.alert     { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffcc; 
            vertical-align: middle; text-align: left; 
            padding: 2px; }
.alertimg  { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffcc; 
            vertical-align: top; text-align: center; }
.error    { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffcc; 
            vertical-align: middle; text-align: left; 
            padding: 2px; }
.errorimg  { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffcc; 
            vertical-align: top; text-align: center; }

/* column header classes */
.hdleft   { font-size: smaller; font-weight: bold;
            color: #333333; background: #cccccc; 
            text-align: left; }
.hdright  { font-size: smaller; font-weight: bold;
            color: #333333; background: #cccccc; 
            text-align: right; }
.hdmiddle  { font-size: smaller; color: #333333; background: #cccccc; 
		text-align: center; }
.datahd   { font-size: smaller; font-weight: bold;
            color: #000000; background: #cccccc; }
.spanhd       { font-size: smaller; font-weight: bold;
                color: #eeeeee; background: #003366; 
                text-align: left; }
.spanhdright  { font-size: smaller; font-weight: bold; 
                color: #eeeeee; background: #003366; 
                text-align: right; }
.spanhdcenter { font-size: smaller; font-weight: bold;
                color: #eeeeee; background: #003366; 
                text-align: center; }
.subhdleft   { font-size: x-small; color: #333333; background: #cccccc; 
		text-align: left;  } 

/* label classes */
.right    { font-size: smaller; font-weight: bold;
            color: #333333; background: #cccccc; 
            text-align: right; }
.topright { font-size: smaller; font-weight: bold;
            color: #333333; background: #cccccc; 
            vertical-align: top; text-align: right; }
.left     { font-size: smaller; font-weight: bold;
            color: #333333; background: #ffffff; 
            text-align: left; }
.topleft  { font-size: smaller; font-weight: bold;
            color: #333333; background: #ffffff; 
            vertical-align: top; text-align: left; }
.center   { font-size: smaller; font-weight: bold;
            color: #333333; background: #ffffff; 
            text-align: center; }
.greyright    { font-size: smaller; font-weight: bold;
            color: #333333; background: #cccccc; 
            text-align: right; }
.greyleft     { font-size: smaller; font-weight: bold;
            color: #333333; background: #ffffff; 
            text-align: left; }
.greycenter   { font-size: smaller; font-weight: bold;
            color: #333333; background: #eeeeee; 
            text-align: center; }
.greytopright { font-size: smaller; font-weight: bold;
            color: #333333; background: #cccccc; 
            vertical-align: top; text-align: right; }
.greytopleft  { font-size: smaller; font-weight: bold;
            color: #333333; background: #ffffff; 
            vertical-align: top; text-align: left; }
      /* remove after changing subright use to fine */
.greysubright    { font-size: x-small; color: #333333; background: #cccccc; 
		text-align: right; font-weight: normal; }


/* data classes and alternating row color classes */
.data     { font-size: smaller; 
            color: #000000; background: #ffffff; }
.datamiddle	{ font-size: smaller; 
	color: #000000; background: #ffffff; vertical-align: middle }
.datagrey { font-size: smaller; 
            color: #000000; background: #eeeeee; }
.datalightblue {
	font-size: smaller;
	color: #000000;
	background: #E1F8F9;
}
.bdata    { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffff; }
.bdatagrey   { font-size: smaller; font-weight: bold;
               color: #000000; background: #eeeeee; }
.datart      { font-size: smaller; 
               color: #000000; background: #ffffff; 
               text-align: right; }
.datartgrey  { font-size: smaller; 
               color: #000000; background: #eeeeee; 
               text-align: right; }
.bdatart     { font-size: smaller; font-weight: bold;
               color: #000000; background: #ffffff; 
               text-align: right; }
.bdatartgrey { font-size: smaller; font-weight: bold;
               color: #000000; background: #eeeeee; 
               text-align: right; }
.curr     { font-size: smaller; font-weight: bold;
            color: #000000; background: #ffffff; 
            text-align: right; }
.currgrey { font-size: smaller; font-weight: bold;
            color: #000000; background: #eeeeee; 
            text-align: right; }
.currleft { font-size: smaller; font-weight: bold; 
            color: #000000; background: #ffffff; 
            text-align: left; }
.color     { color: #800000; } /*change to 000000 if FI doesn't want negative numbers to be red*/
.subdata  { font-size: x-small; color: #000000; background: #ffffff }
.subdatagrey { font-size: x-small; color: #000000; background: #eeeeee }
.dataright     { font-size: smaller; color: #000000; background: #ffffff; text-align: right;}
.datagreyright     { font-size: smaller; color: #000000; background: #eeeeee; text-align: right;}
.yellow  { font-size: smaller; color: #000000; background: #ffffcc; 
            vertical-align: middle; text-align: left; }



/* vrm classes and account balance classes */
.subcurr  { font-size: smaller; font-weight: bold;
            color: #333333; background: #cccccc; 
            text-align: right; }
.editorial { font-size: smaller; 
            color: #000000; background: #ffffff; }
.editgrey { font-size: smaller; 
            color: #000000; background: #eeeeee; }


/* fine print for inputs and tables */
.fine        { font-size: x-small; font-weight: normal; 
               color: #333333; }
.fineright   { font-size: x-small; font-weight: normal; 
               color: #333333;
               text-align: right; }
.finewhite { font-size: x-small; font-weight: normal; color: #000000; background: #ffffff; }
.subright { font-size: x-small; font-weight: normal;   
            color: #333333; background: #cccccc;       
            text-align: right; }

/* form element cell classes */
.input    { font-size: smaller; 
            background: #ffffff; 
            vertical-align: baseline; }
.topinput { font-size: smaller;  
            background: #ffffff; 
            vertical-align: top; }
.btminput { font-size: smaller; 
            background: #ffffff; 
            vertical-align: bottom; }
.inputgrey { font-size: smaller; 
            background: #eeeeee; 
            vertical-align: baseline; }
.submit   { font-size: smaller; font-weight: bold;
            color: #333333; background: #ffffff;
            vertical-align: middle; text-align: right; }
.submitgrey  { font-size: smaller; font-weight: bold;
               color: #333333; background: #cccccc;
               vertical-align: middle; text-align: right; }
.inputtop    { font-size: smaller;  
		vertical-align: top; background: #ffffff; }

/* help classes */
.help     { font-family: arial, helvetica, "sans serif"; 
            font-size: smaller; 
            color: #666666; background: #ffffcc; }

/* navigation bar classes */
.navtext  { font-size: x-small; 
            color: #000066; 
            text-align: right; }
.info     { font-size: x-small; 
            color: #000066; background: #eeeeee; }
.infotext { padding-left: 2pt; }

/* footer classes */
.footlt   { font-size: x-small; 
            color: #333333; background: #cccccc; }
.footdk   { font-size: x-small; 
            color: #cccccc; background: #333333; }

/* background packing classes */
.bkgnd    { font-size: 1pt; }
.wtspace  { font-size: 1pt; background: #ffffff; }
.greyspace  { font-size: 1pt; background: #eeeeee; }
.yellowspace  { font-size: 1pt; background: #ffffcc; }
.bottom   { vertical-align: bottom; }



/* additional VIM classes */
.yellowbar       { font-size: smaller; background: #ffffcc; 
                text-align: left; }

.yellowbarrt       { font-size: smaller; background: #ffffcc; 
                text-align: right; }

.yellowspace  { font-size: 4pt; background: #ffffcc; }

.datacntr     { font-size: smaller; 
            color: #000000; background: #ffffff; text-align: center; }
	
.datacntrgrey { font-size: smaller; 
            color: #000000; background: #eeeeee; text-align: center; }

.hdctr	    { font-size: smaller; font-weight: bold; color: #333333; 
	background: #cccccc; text-align: center;}


